@font-face{
    font-family: "GabiaMaeumgyeol";
    src:url('./font/GabiaMaeumgyeol.eot');
    src:url('./font/GabiaMaeumgyeol.woff2') format('woff2'),
        url('./font/GabiaMaeumgyeol.woff') format('woff'),
        url('./font/GabiaMaeumgyeol.ttf') format('truetype'),
        url('./font/GabiaMaeumgyeol.svg#GabiaMaeumgyeol') format('svg'),
        url('./font/GabiaMaeumgyeol.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
    
   }
   *{
    margin:10;
    padding:0;
    box-sizing: border-box;
 }
 body{
  font-family:"GabiaMaeumgyeol";
  background-color: 
  #3DB2FF
;
 }
 
 /* 달력 */
 
 .rap {
    float:left;
    width: 780px;
    padding:  1.4rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  
  .dateHead {
    margin-bottom: .4rem;
  }
  
  .dateHead div {
    background: #FFEDDA;
    color: #3DB2FF;
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .grid div {
    padding: .50rem;
    font-size: .9rem;
    cursor: pointer;
  }
  
  .dateBoard div {
    
    color: #FFEDDA;
    font-weight: bold;
    min-height: 7rem;
    padding: .5rem .8rem;
    border-radius: .3rem;
    border: 4px solid #FFEDDA;
  }
  
  .noColor {
    background: #FFEDDA;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  .btn {
   display: block;
   width: 20px;
   height: 20px;
   border: 3px solid #FFEDDA;
   border-width: 3px 3px 0 0;
   cursor: pointer;
  }
  
  .prevDay {
    transform: rotate(-135deg);
  }
  
  .nextDay {
    transform: rotate(45deg);
  }
  
  .rap2 {
   float:left;
   max-width: 400px;
   padding:  0.5rem;
  }
 


  .top{
    background: #FFEDDA;
    width: 650px;
    height: 617px;
    margin-top: 114px;
    
  }
  
  .input-box{
    width: 50%;
    margin-right: 20px;
    height: auto; 
    background: #FFB830;
    color: #FFEDDA;
    line-height : normal;
    padding: .8em .5em 0 0; 
    font-family: "GabiaMaeumgyeol";
    border: 0; 
    border-bottom: 1px dashed #FFEDDA; 
    border-radius: 0; 
    outline-style: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
  }